* {
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
}

canvas {
  display: block;
}

.responsive-container {
  width: 40vw;
  margin: 0 auto;
}

.responsive-content {
  width: 80vw;         /* Default for mobile */
  min-height: 60vh;    /* Reserve vertical space for 15–20 lines */
}

/* For tablets and small laptops */
@media (min-width: 768px) {
  .responsive-content {
    width: 50vw;
    min-height: 20vh;
  }
}

/* For desktops and large screens */
@media (min-width: 1024px) {
  .responsive-content {
    width: 50vw;
    min-height: 20vh;
  }
}
