* {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 1em;
  background: #FBF9F7;
  color: #3B2F2F;
}

html, body, #root {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

canvas {
  display: block;
}

.responsive-container {
  width: 40vw;
  margin: 0 auto;
}

.responsive-content {
  width: 80vw;         /* Default for mobile */
  min-height: 60vh;    /* Reserve vertical space for 15–20 lines */
}

/* For tablets and small laptops */
@media (min-width: 768px) {
  .responsive-content {
    width: 50vw;
    min-height: 20vh;
  }
}

/* For desktops and large screens */
@media (min-width: 1024px) {
  .responsive-content {
    width: 50vw;
    min-height: 20vh;
  }
}
